@page
@model RazorPagesMovie.Pages.Movies2.CreateModel

@{
    ViewData["Title"] = "Add Movie";

}

<h1>Add a movie to the database</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Movie2.Title" placeholder="Enter a movie title..." class="form-control" />
                <span asp-validation-for="Movie2.Title" class="text-danger"></span>
            </div>

            <input type="submit" value="Create" class="btn btn-primary" />

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Database</a>
</div>

<img src="http://cdn.onlinewebfonts.com/svg/img_125477.png" width="400" />



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
