@page
@model RazorPagesMovie.Pages.apitest
@{

}

<div class="row">
    <div class="col-md-4">
        <input value="" class="form-control" placeholder="Enter your favorite movie..." />
      
        <input type="submit" value="Add Movie" class="btn btn-primary"/>
        
    </div>
</div>
