@page
@model RazorPagesMovie.Pages.apitest
@{
   RazorPagesMovie.Models.NewMovie movie = await RazorPagesMovie.Backend.ApiTest.GetMovieAsync("Halloween");
}

<h1>@movie.Title</h1>
<h2>
    <p>
        @movie.Year - @movie.Rated
    </p>
</h2>
<img src=@movie.Poster alt="@movie.Title">

