@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the .NET movie database!</h1>
    <p> <a asp-page="Movies/Index">Add movies to the database</a>.</p>
</div>
