@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the .NET movie database!</h1>
        <p style="text-align:left">
            This project was created by Christian Gentry in order to gain familiarity with the .NET stack and Azure Cloud.
            This database allows users to use CRUD (Create, Read, Update, Delete) operations to add and remove movies from the database.
        </p>

        <img src="https://lh3.googleusercontent.com/0yWJk0Gos727684XxBOX-uHxfd2V_YKOMtVsq3DAAEQaiI6X6lJHAZB873Yh4baxRoB3Q_-TPgp0j88FrIuRVlFNwabC1szxDIlybYx25X1WSH0fkfODvd9k5H01l1LMZmQVHiHtI1YqhbdqmYgSZXPa2mzgXFqRp5JpU5ZmPrs8X85k0YGMkRap4FRD8rYhJ9OR0GbvQgwD610V1Av5zwuBvdMW02j6ylc5WLrQo0NiwWCVzaOfQTYg8GIwV84mIcFU_sdRvtqYv48sHjmwdnhAVFKt8IEfDOMSh_j3HVWWjqg7-Ggv-jotwBoy7FnTjVYZtPHp_cdCEMYi9iP22ZZUI9IpJUb1jX1yfrJSfF1sd2BhOCPmfZ84kjIJbb8t1oDkPhspSuoZ-l1FT_g8O-2UQQ1eoDvlAKpqR7VUbMsgf1OdAC9-pfZ4W7-4cBh16bVnHjiIm5uNvtnIXgeAhhjj1UTQS4znFQMAta8bdlikWL_40hR3p8K8z0KdGgaChAGqa_wR-pEY3g1IrEYXVLaV65WHu_3TYLkSZ8lhZZYJ48vE_psFH_1pV9hCYPcVIpfgiHnj5oRzk5vAftyN3mc9IvOI5VzpmpmJQ9GfKt1LV-yCrY7tqqg93Nui_bYRqkXkbD9aEg6oaQVSjAQ9hOQmK0tjL32NY0-5LgsXSUTXDmPAIx3YAqFs=s328-no"
             height="450" />
        <div style='padding:50px'>
            <a>Backend: <b>ASP.NET 3.0</b></a> |
            <a>Frontend: <b>Razor</b></a> |
            <a>Database: <b>Azure SQL Database</b></a> |
            <a>Hosting: <b>Azure WebApp</b></a> |
            <a>Source Control: <b>git</b></a> |
            <a>Api: <b>OMDB</b></a>
        </div>
        <a href="https://github.com/christianjgentry/RazorPagesMovie" target="_blank"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" width="40" /></a>

    </div>


